# Laravel's built-in server warns when multiple workers are requested without --no-reload.
PHP_CLI_SERVER_WORKERS=1
GOOGLE_MAPS_API_KEY=
SIGNWELL_API_KEY=YWNjZXNzOjM4YWY5NjgwOWU2MjZkZjA5MjFhZTg0YzU2Yzg1ZDUz
SIGNWELL_TEST_MODE=true
